:root {
  --primary-color: #09fcfd;
  --secondary-color: #510303;
  --size-unit: 64px;
  --ships-animation-time: 200ms;
  --explosions-animation-time: 600ms;
}

*,
*::After,
*::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
  touch-action: none;
  user-select: none;
}

body{
  font-family: 'Lato', sans-serif;
}

.container{
  width:100vw;
  height:100vh;
  background-image: url('/Spaceship_art_pack/Background/bg_sprite.png');
  animation: move-bg-Y 50000ms linear infinite;
  position: relative;
}

@keyframes move-bg-Y {
    0%{
      background-position-y: 0px;
    }
    100%{
      background-position-y:1536px;
    }  
}

.information{
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  padding:20px;
  z-index: 2;
  position: relative;
}

.modal{
  width:100vw;
  height: 100vh;
  background-color: #000;
  position:absolute;
  top:0;
  left:0;
  z-index: 3;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.modal__content{
  position:relative;
  display: flex;
  flex-direction: column;
}

.modal__text{
  font-size:24px;
}

.modal__button{
  padding: 30px 15px;
  background-color: transparent;
  border: 3px solid var(--primary-color);
  cursor:pointer;
  color: var(--primary-color);
  font-size: 42px;
  margin-top:20px;
  outline: none;
  transition: box-shadow .1s ease-in;
}

.modal__button:hover{
 box-shadow: 0px 0px 20px 5px var(--primary-color);
}

.spaceship{
  width: var(--size-unit);
  height: var(--size-unit);
  background-color: transparent;
  background-image: url('../images/ship.png');
  animation: move-8-units-X var(--ships-animation-time) steps(8) infinite;
  z-index: 2;
  position:fixed;
}

.enemy{
  width: var(--size-unit);
  height: var(--size-unit);
  background-color: transparent;
  background-image: url('../images/enemy.png');
  animation: move-5-units-X var(--ships-animation-time) steps(5) infinite;
  z-index: 2;
  position: fixed;
}

.enemy--big{ 
  width: calc(var(--size-unit) * 2);
  height: calc(var(--size-unit) * 2);
  background-color: transparent;
  background-image: url('../images/enemy-big.png');
  animation: move-16-units-X var(--ships-animation-time) steps(8) infinite;
  z-index: 2;
  position: fixed;
}

.explosion{
  width: var(--size-unit);
  height: var(--size-unit);
  background-color: transparent;
  background-image: url('../images/explosion.png');
  animation: move-17-units-X var(--explosions-animation-time) steps(17) forwards;
  position: fixed;
}

.explosion--big{
  width: calc(var(--size-unit) * 2);
  height: calc(var(--size-unit) * 2);
  background-color: transparent;
  background-image: url('../images/explosion-big.png');
  animation: move-34-units-X var(--explosions-animation-time) steps(17) forwards;
  position: fixed;
}

.missile{
  background-image: url('../images/missile.png');
  background-size: cover;
  width:12px;
  height: 24px;
  position:absolute;
}

.healing-object{
  width: calc(var(--size-unit) / 2);
  height: calc(var(--size-unit) / 2);
  background-color: transparent;
  background-image: url('../images/heal.png');
  animation: move-2-units-X var(--ships-animation-time) steps(2) infinite;
  z-index: 2;
  position:fixed;
}


.live--down{
animation: live-down-opwacity .3s linear forwards;
}

.red-ovelay{
  position: fixed;
  left:0;
  top:0;
  opacity: 0;
  background-color: var(--secondary-color);
  height:100vh;
  width:100vw;
  z-index: 0;
}

@keyframes live-down-opwacity {
  0%,100%{
    opacity:0;
  }
  50%{
    opacity:0.7;
  }
}

@keyframes move-2-units-X {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: calc(var(--size-unit) * -2);
  }  
}

@keyframes move-8-units-X {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: calc(var(--size-unit) * -8);
  }  
}

@keyframes move-16-units-X {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: calc(var(--size-unit) * -16);
  }  
}

@keyframes move-17-units-X {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: calc(var(--size-unit) * -17);
  }  
}

@keyframes move-34-units-X {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: calc(var(--size-unit) * -34);
  }  
}

@keyframes move-5-units-X {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: calc(var(--size-unit) * -5);
  }  
}

.hide{
  display: none;
}

